/* Sidebar styles */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #fff;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-link {
  display: block;
  text-align: center;
  padding: 15px 20px;
  margin: 10px 0;
  background-color: #563aff;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-link:hover {
  background-color: #392aa5;
}

/* Page content */
.content {
  margin-left: 220px;
  padding: 20px;
}

